.header-all {
    background-color: blue;
    width: 100%;
    color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    margin: auto;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-newsletter {
    border-radius: 10px;
    max-width: 60rem;
    margin: auto;
    margin-top: 3rem;   
    background-color: white;
    text-align: center;
    box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    padding: 20px;
    background-color: white;
    color: white;
    border-radius: 10px 10px 0 0;
}

.card-body-title {
    padding: 20px;
    background-color: blue;
    color: white;
}

.card-body {
    padding: 20px;
}

.news-image {
    margin: auto;
    width: 60%;
}

.card-title {
    font-size: 1.5rem;
}

.card-subtitle {
    font-size: 1.1rem;
    padding: 0 80px;
    text-align: left;
}

.photo-padding {
    padding: 5px;
    width: 100%;
}

.text-left  {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.padding-top {
    padding-top: 15px;
}

.news-padding {
    padding: 20px;
}

.button-submit {
    padding: 31px 15px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ff6b81;
    background-color: #ff6b81;
    color: white;
    left: 0;
    margin-right: 20px;
    font-size: 1.3rem;
}
nav {
    background-color: blue;
    width: 100%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cornflowerblue;
}

li.menu-right {
    float: right;
}

.slider-wrapper {
    margin: auto;
    padding-top: 70px;
}

.slider {
    border-radius: 10px;
    width: 100%;
}

.footer {
    position: static;
    padding: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslateblue;
    color: white;
    text-align: center;
}

